body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.error {
  color: red;
  text-decoration: underline;
}

.editable {
  display: flex;
  justify-content: space-between;
}

.editButton {
  margin-left: 2rem !important;
  visibility: hidden;
}

.editable:hover .editButton {
  visibility: visible;
}

.edited {
  display: flex;
  margin: 5px auto;
}

/* Add an animation to the button */
.signupbutton.animate {
  animation: flyaway 1s;
}

@keyframes flyaway {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}
