body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.resultTitle {
  text-align: center;
}

.error {
  color: red;
  text-decoration: underline;
}

.editable {
  display: flex;
  justify-content: space-between;
}

.editButton {
  margin-left: 2rem !important;
  visibility: hidden;
}

.editable:hover .editButton {
  visibility: visible;
}

.edited {
  display: flex;
  margin: 5px auto;
}

.line {
  font-weight: bold;
  margin-right: 12px;
}

.recordId {
  background-color: lightblue;
  border-radius: 5px;
}

/* style={{
  listStyleType: 'disclosure-closed',
  textAlign: 'left',
}} */

.recordList {
  list-style-type: disclosure-closed;
  text-align: left;
}

/* Add an animation to the button */
.signupbutton.animate {
  animation: flyaway 1s;
}

@keyframes flyaway {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}

.searchBar {
  background-color: mediumturquoise !important;
  margin-top: 8px !important;
  color: white !important;
}

.searchSpan {
  margin-right: 5px;
}

@media all and (max-width: 475px) {
  .editable {
    flex-direction: column;
  }
  .edited {
    flex-direction: column;
  }
  .editButton {
    margin-left: 0px !important;
  }
  .ulFields {
    padding-left: 10px;
  }
}
